@import 'compass/css3';

// Color Variables

$dark-green: #004847;
$light-green: #00b9aa;
$bordeaux: rgb(196, 16, 55);
$dark-bordeaux: #83002e;
$grey: #dcddde;

// Breakpoints

$breakpoint-1: 43.75em;
$breakpoint-2: 46.875em;