@import 'compass/css3';

// Color Variables

$red: #FF1B12;
$black: #FFFAF5;
$grey: #107F2F;
$light-grey: #FFFAF5;
$header-text: #5e5e5e;
$white: #543711;

// Breakpoints

$breakpoint-1: 43.75em;
$breakpoint-2: 46.875em;