@import 'compass/css3';

// Color Variables

$highlight: #FF1B12;
$background: #FFFAF5;
$foreground: #107F2F;
$bright: #fff;
$header-text: #5e5e5e;
$dark: #543711;

// Breakpoints

$breakpoint-1: 43.75em;
$breakpoint-2: 46.875em;