.date {
  margin-bottom: 34px;
  font-family: "museo-slab", Helvetica Neue, Helvetica, sans-serif;
  font-size: 28px;
  font-weight: 700;
  color: $dark-green;

  i {
    display: none;
  }

  b {
    display: inline;
  }
}

.heading {
  margin-bottom: 18px;
  padding: 0 10px;

  background-color: $dark-green;
  color: white;
}

.accent {
  background: $bordeaux;
  box-shadow: 
        inset 0px 11px 8px -10px rgba(0,0,0,0.5),
        inset 0px -11px 8px -10px rgba(0,0,0,0.5); 
  color: $dark-bordeaux;
  font-weight: 800;
  min-height: 80px;
}

.sponsors {
  margin: 8px 0 4px;
  text-align: center;

  a {
    display: inline-block;
    vertical-align: middle;
    margin: 12px;
  }

  img {
    width: 150px;
    position: relative;
    display: block;
  }
}

.small-sponsors {
  padding: 0;
  margin: 36px 0 -18px -36px;

  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin-left: 36px;
    margin-bottom: 18px;
    width: 150px;
  }

  img {
    position: relative;
    display: block;
    margin: 0 auto;
    max-height: 100%;
  }

  a {
    display: block;
    padding: 10px 16px;
    height: 66px;
    width: 118px;

    background: #FFF;
  }
}

.details {
  margin-top: 72px;
  font-weight: 300;
  font-style: italic;

  font-size: 13px;
  text-align: center;
}

.map {
  height: 400px;
  margin: 36px 0;
}

.judges {
  padding: 0;
  margin-bottom: 36px;

  list-style: none;

  li {
    margin-bottom: 27px;
  }
}

.judges-img {
  width: 80px;
  padding: 10px;
  display: block;
  float: left;
  margin-right: 20px;
}

.judges-name {
  color: white;
  margin: 7px 0 6px;

  font-size: 18px;
  font-family: "museo-slab", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.judges-bio {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
}

footer {
  background: $bordeaux;
  box-shadow: 
        inset 0px 11px 8px -10px rgba(0,0,0,0.5),
        inset 0px -11px 8px -10px rgba(0,0,0,0.5); 
  margin-top: 50px;
}

.championsleague {
  color: $dark-bordeaux;
  background: url('../img/cl_ball.png') no-repeat center top !important;
  padding-top: 75px;
  font-family: "museo-slab", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 300;

  b {
    display: block;
    font-weight: 800;
  }
}

.cta {
  margin: 1.5em 0 1.5em -3.5%;

  text-align: center;
}

.l-single h2 {
  padding: 0;
}

.btn, .l-single h2 {
  font-family: "futura-pt", Helvetica Neue, Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  color: white;
  background: $bordeaux;
  line-height: 50px;
}
#htexternal {
  margin-left: 50px;
}
.btn {
  display: inline-block;
  height: 75px;
  line-height: 75px;
  font-size: 22px;
  padding-right: 40px;
}

.btn, .l-right h2 {
  background:
    -webkit-linear-gradient(135deg, transparent 10px, $bordeaux 10px);
  background:
    -moz-linear-gradient(135deg, transparent 10px, $bordeaux 10px);
  background:
    -o-linear-gradient(135deg, transparent 10px, $bordeaux 10px);
}

.btn:before, .l-single h2:before {
  content: '';
  display: block;
  float: left;
  position: relative;
  left: -20px;
  top: 0px;
  background: $bordeaux;
  background:
    -webkit-linear-gradient(315deg, transparent 10px, $bordeaux 10px);
  background:
    -moz-linear-gradient(315deg, transparent 10px, $bordeaux 10px);
  background:
    -o-linear-gradient(315deg, transparent 10px, $bordeaux 10px);
  width: 20px;
  height: 50px;
  z-index: -1;
}
.btn:before {
  height: 75px;
}

.btn:hover:before {
  color: white;
  background: $dark-bordeaux;
  background:
    -webkit-linear-gradient(315deg, transparent 10px, $dark-bordeaux 10px);
  background:
    -moz-linear-gradient(315deg, transparent 10px, $dark-bordeaux 10px);
  background:
    -o-linear-gradient(315deg, transparent 10px, $dark-bordeaux 10px);
}

.btn:hover {
  color: white;
  background: $dark-bordeaux;
  background:
    -webkit-linear-gradient(135deg, transparent 10px, $dark-bordeaux 10px);
  background:
    -moz-linear-gradient(135deg, transparent 10px, $dark-bordeaux 10px);
  background:
    -o-linear-gradient(135deg, transparent 10px, $dark-bordeaux 10px);
}

.l-left h2 {
  margin-bottom: 0;
}
.l-left .content {
  padding: 48px;
  margin: 0;
  margin-left: -20px;
  background: $dark-bordeaux;
  background:
    -webkit-linear-gradient(135deg, transparent 10px, $dark-bordeaux 10px);
  background:
    -moz-linear-gradient(135deg, transparent 10px, $dark-bordeaux 10px);
  background:
    -o-linear-gradient(135deg, transparent 10px, $dark-bordeaux 10px);
}

.l-left .content p {
  margin: 0;
  padding: 0;
}

.twitter {
  height: 23px;
  width: 30px;
  position: relative;
  top: 4px;
  display: inline-block;

  background-image: url('../img/twitter.png');
  background-repeat: no-repeat;

  &:hover {
    background-position: 0 -27px;
  } 
}

.tweets {
  padding: 0 16px;
  margin-bottom: 1.5em;

  font-size: 14px;
  line-height: 1.4;

  a {
    text-decoration: none;
    color: #8c8c8c !important;

    &:hover {
      color: $grey !important;
    }
  }
}

.tweet {
  border-top: 1px solid #666;
  padding: 12px 0;

  &:first-child {
    border-top: none;
  }
}

.time {
  float:right;
  color:#999;
  font-size:12px;
}

.organizers {
  padding: 0;

  font-family: "museo-slab",Helvetica Neue,Helvetica,Arial,sans-serif;
  list-style: none;
  text-align: center;

  li {
    margin-bottom: 1.5em;
    display: inline-block;
    margin-left: 1.5em;
    max-width: 42%;
    vertical-align: top;
  }

  a:hover {
    color: white;
  }

  span {
    display: block;
  }

  img {
    @include box-sizing(border-box);
    padding: 10px;
    width: 100%;
    max-width: 180px;
  }
}

.lt-ie9 .organizers img {
  width: 166px;
}

.winners {
  margin-left: -7%;

  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    margin: 27px 0 0 7%;
    width: 93%;

    vertical-align: top;

    *display: inline;
    zoom: 1;
  }
}

.winner {
  margin: 0;
  padding: 8px 12px;

  background: #fff;

  border-radius: 5px;
  line-height: 1.2;
}

.winner a {
  text-decoration: none;

  &:hover {
    color: $grey;
  }
}

.winner-info {
  margin: 6px 0 0;

  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;

  small {
    display: block;

    font-size: 14px;
    font-style: italic;
    font-weight: normal;
  }
}